<!DOCTYPE>
<html>

    <head>
        <title>add</title>
        <link rel="stylesheet" href="/prjeas_static/css/pure.css">
        <link rel="stylesheet" href="/prjeas_static/css/buttons.css">
        <link rel="stylesheet" href="/prjeas_static/js/jquery-1.10.2.min.js">
        <link rel="stylesheet" href="/prjeas_static/js/buttons.js">
        <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1">
                <form action="/prjeas/upload/" class="pure-form pure-form-aligned" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="title">Title</label>
                            <input name="title" id="title" type="text" placeholder="Article Title" required>
                        </div>
                        <div class="pure-control-group">
                            <label for="region">Region (if individual article)</label>
                            <input name="region" id="region" type="text" placeholder="Region">
                        </div>
                        <div class="pure-control-group">
                            <label for="upload">Choose a file</label>
                            <input type="file" name="article" accept=".pdf" required>
                        </div>

                        <div class="pure-control-group">
                            <label for="text">Article text</label>
                            <input class="pure-input-2-3" name="text" type="file" placeholder="Article text">
                        </div>

                        <div class="pure-controls">
                            <label for="ia" class="pure-checkbox">
                                <input id="ia" name="ia" type="checkbox">This is an individual article
                            </label>
                            <a class="button button-pill button-flat-highlight" href="/prjeas/plogout/" value="Logout">Logout</a>
                            <button type="submit" class="button button-pill button-flat-highlight">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
