<!DOCTYPE>
<html>

    <head>
        <title>add</title>
        <link rel="stylesheet" href="/prjeas_static/css/pure.css">
        <link rel="stylesheet" href="/prjeas_static/css/buttons.css">
        <script src="/prjeas_static/js/jquery-1.10.2.min.js"></script>
        <script src="/prjeas_static/js/buttons.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1">
                <form action="/prjeas/plogin/" class="pure-form pure-form-aligned" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Username</label>
                            <input name="username" id="name" type="text" placeholder="Username">
                        </div>

                        <div class="pure-control-group">
                            <label for="password">Password</label>
                            <input name="password" id="password" type="password" placeholder="Password">
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="button button-pill button-flat-highlight">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
