.maindiv {
    width: 80%;
    margin: 0 auto;
}

.navmenu2 {
    min-width: 200px;
    width: 20%;
}

.shamupanel {
    min-width: 928px;
}

.articlepanel {
    width: 76%;
}

.myspin {
    margin-top: 1em;
}

.articles {
    text-align: center;
}

#searchbox {
}

.readbutton {
    margin-top: 0.4em;
}

.button-rounded {
    height: 24px;
    max-height: 24px;
    line-height: 24px;
}

.wrapper {
    text-align: center;
    text-align: -moz-center;
}
