/* line 24, ../scss/partials/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  /* line 42, ../scss/partials/_buttons.scss */
  .button:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc); }
  /* line 46, ../scss/partials/_buttons.scss */
  .button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 52, ../scss/partials/_buttons.scss */
  .button:focus {
    outline: none; }

/* line 58, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block; }

/* line 74, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

/* line 86, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 96, ../scss/partials/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none; }
  /* line 105, ../scss/partials/_buttons.scss */
  .button-flat:hover {
    background: #fbfbfb; }
  /* line 108, ../scss/partials/_buttons.scss */
  .button-flat:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 113, ../scss/partials/_buttons.scss */
  .button-flat.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 123, ../scss/partials/_buttons.scss */
.button-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none; }
  /* line 132, ../scss/partials/_buttons.scss */
  .button-border:hover {
    background: none;
    color: gray;
    border: 2px solid gray; }
  /* line 137, ../scss/partials/_buttons.scss */
  .button-border:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #4d4d4d;
    border: 2px solid #4d4d4d; }
  /* line 143, ../scss/partials/_buttons.scss */
  .button-border.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 191, ../scss/partials/_buttons.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

/* line 191, ../scss/partials/_buttons.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 160px;
  /*line-height: 160px;*/
  height: 160px;
  padding: 0px;
  border-width: 4px;
  font-size: 19px; }

/* line 225, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: -moz-linear-gradient(top, #00b5e5, #008db2);
  background: -o-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(top, #00b5e5, #008db2);
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35); }
  /* line 232, ../scss/partials/_buttons.scss */
  .button-primary:hover {
    background-color: #00a1cb;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
    background: -webkit-linear-gradient(top, #00c9fe, #008db2);
    background: -moz-linear-gradient(top, #00c9fe, #008db2);
    background: -o-linear-gradient(top, #00c9fe, #008db2);
    background: linear-gradient(top, #00c9fe, #008db2); }
  /* line 236, ../scss/partials/_buttons.scss */
  .button-primary:active {
    background: #1495b7;
    color: #005065; }

/* line 287, ../scss/partials/_buttons.scss */
.button-border-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #00a1cb;
  border: 2px solid #00a1cb;
  background: none;
  text-shadow: none; }
  /* line 296, ../scss/partials/_buttons.scss */
  .button-border-primary:hover {
    background: none;
    color: #00c9fe;
    border: 2px solid #00c9fe; }
  /* line 301, ../scss/partials/_buttons.scss */
  .button-border-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #007998;
    border: 2px solid #007998; }
  /* line 307, ../scss/partials/_buttons.scss */
  .button-border-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 319, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 328, ../scss/partials/_buttons.scss */
  .button-flat-primary:hover {
    background: #00b5e5; }
  /* line 331, ../scss/partials/_buttons.scss */
  .button-flat-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #1495b7;
    color: #00647f; }
  /* line 336, ../scss/partials/_buttons.scss */
  .button-flat-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 225, ../scss/partials/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -o-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(top, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35); }
  /* line 232, ../scss/partials/_buttons.scss */
  .button-action:hover {
    background-color: #7db500;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
    background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
    background: -moz-linear-gradient(top, #a0e800, #6b9c00);
    background: -o-linear-gradient(top, #a0e800, #6b9c00);
    background: linear-gradient(top, #a0e800, #6b9c00); }
  /* line 236, ../scss/partials/_buttons.scss */
  .button-action:active {
    background: #76a312;
    color: #374f00; }

/* line 287, ../scss/partials/_buttons.scss */
.button-border-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #7db500;
  border: 2px solid #7db500;
  background: none;
  text-shadow: none; }
  /* line 296, ../scss/partials/_buttons.scss */
  .button-border-action:hover {
    background: none;
    color: #a0e800;
    border: 2px solid #a0e800; }
  /* line 301, ../scss/partials/_buttons.scss */
  .button-border-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #5a8200;
    border: 2px solid #5a8200; }
  /* line 307, ../scss/partials/_buttons.scss */
  .button-border-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 319, ../scss/partials/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #7db500;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 328, ../scss/partials/_buttons.scss */
  .button-flat-action:hover {
    background: #8fcf00; }
  /* line 331, ../scss/partials/_buttons.scss */
  .button-flat-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #76a312;
    color: #486900; }
  /* line 336, ../scss/partials/_buttons.scss */
  .button-flat-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 225, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -o-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(top, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35); }
  /* line 232, ../scss/partials/_buttons.scss */
  .button-highlight:hover {
    background-color: #f18d05;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fba42e, #d87e04);
    background: -moz-linear-gradient(top, #fba42e, #d87e04);
    background: -o-linear-gradient(top, #fba42e, #d87e04);
    background: linear-gradient(top, #fba42e, #d87e04); }
  /* line 236, ../scss/partials/_buttons.scss */
  .button-highlight:active {
    background: #d8891e;
    color: #8d5303; }

/* line 287, ../scss/partials/_buttons.scss */
.button-border-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #f18d05;
  border: 2px solid #f18d05;
  background: none;
  text-shadow: none; }
  /* line 296, ../scss/partials/_buttons.scss */
  .button-border-highlight:hover {
    background: none;
    color: #fba42e;
    border: 2px solid #fba42e; }
  /* line 301, ../scss/partials/_buttons.scss */
  .button-border-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #bf7004;
    border: 2px solid #bf7004; }
  /* line 307, ../scss/partials/_buttons.scss */
  .button-border-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 319, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 328, ../scss/partials/_buttons.scss */
  .button-flat-highlight:hover {
    background: #fa9915; }
  /* line 331, ../scss/partials/_buttons.scss */
  .button-flat-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #d8891e;
    color: #a66103; }
  /* line 336, ../scss/partials/_buttons.scss */
  .button-flat-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 225, ../scss/partials/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -o-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(top, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35); }
  /* line 232, ../scss/partials/_buttons.scss */
  .button-caution:hover {
    background-color: #e54028;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #eb6855, #d9331a);
    background: -moz-linear-gradient(top, #eb6855, #d9331a);
    background: -o-linear-gradient(top, #eb6855, #d9331a);
    background: linear-gradient(top, #eb6855, #d9331a); }
  /* line 236, ../scss/partials/_buttons.scss */
  .button-caution:active {
    background: #cd5240;
    color: #952312; }

/* line 287, ../scss/partials/_buttons.scss */
.button-border-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #e54028;
  border: 2px solid #e54028;
  background: none;
  text-shadow: none; }
  /* line 296, ../scss/partials/_buttons.scss */
  .button-border-caution:hover {
    background: none;
    color: #eb6855;
    border: 2px solid #eb6855; }
  /* line 301, ../scss/partials/_buttons.scss */
  .button-border-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #c22d18;
    border: 2px solid #c22d18; }
  /* line 307, ../scss/partials/_buttons.scss */
  .button-border-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 319, ../scss/partials/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 328, ../scss/partials/_buttons.scss */
  .button-flat-caution:hover {
    background: #e8543f; }
  /* line 331, ../scss/partials/_buttons.scss */
  .button-flat-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd5240;
    color: #ac2815; }
  /* line 336, ../scss/partials/_buttons.scss */
  .button-flat-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 225, ../scss/partials/_buttons.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99389f), color-stop(100%, #752a79));
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: -moz-linear-gradient(top, #99389f, #752a79);
  background: -o-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(top, #99389f, #752a79);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35); }
  /* line 232, ../scss/partials/_buttons.scss */
  .button-royal:hover {
    background-color: #87318c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab3eb2), color-stop(100%, #752a79));
    background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
    background: -moz-linear-gradient(top, #ab3eb2, #752a79);
    background: -o-linear-gradient(top, #ab3eb2, #752a79);
    background: linear-gradient(top, #ab3eb2, #752a79); }
  /* line 236, ../scss/partials/_buttons.scss */
  .button-royal:active {
    background: #764479;
    color: #3e1740; }

/* line 287, ../scss/partials/_buttons.scss */
.button-border-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #87318c;
  border: 2px solid #87318c;
  background: none;
  text-shadow: none; }
  /* line 296, ../scss/partials/_buttons.scss */
  .button-border-royal:hover {
    background: none;
    color: #ab3eb2;
    border: 2px solid #ab3eb2; }
  /* line 301, ../scss/partials/_buttons.scss */
  .button-border-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #632466;
    border: 2px solid #632466; }
  /* line 307, ../scss/partials/_buttons.scss */
  .button-border-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 319, ../scss/partials/_buttons.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 328, ../scss/partials/_buttons.scss */
  .button-flat-royal:hover {
    background: #99389f; }
  /* line 331, ../scss/partials/_buttons.scss */
  .button-flat-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #764479;
    color: #501d53; }
  /* line 336, ../scss/partials/_buttons.scss */
  .button-flat-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 356, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 24px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px; }

/* line 356, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 387, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px; }

/* line 356, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 15px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px; }

/* line 387, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px; }

/* line 356, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px; }

/* line 387, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px; }

/* line 423, ../scss/partials/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }
  /* line 430, ../scss/partials/_buttons.scss */
  .button-dropdown .button .icon-caret-down {
    font-size: 90%;
    margin: 0px 0px 0px 3px;
    vertical-align: top; }
  /* line 437, ../scss/partials/_buttons.scss */
  .button-dropdown ul.button-dropdown-menu-below {
    top: 115%; }
  /* line 440, ../scss/partials/_buttons.scss */
  .button-dropdown ul.button-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
  /* line 446, ../scss/partials/_buttons.scss */
  .button-dropdown ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%; }
    /* line 460, ../scss/partials/_buttons.scss */
    .button-dropdown ul li {
      padding: 0px;
      margin: 0px;
      display: block; }
      /* line 465, ../scss/partials/_buttons.scss */
      .button-dropdown ul li:first-child a {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px; }
      /* line 468, ../scss/partials/_buttons.scss */
      .button-dropdown ul li:last-child a {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    /* line 474, ../scss/partials/_buttons.scss */
    .button-dropdown ul .button-dropdown-divider {
      -webkit-box-shadow: inset 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 0px white;
      box-shadow: inset 0px 1px 0px white;
      border-top: 1px solid #e4e4e4; }
    /* line 479, ../scss/partials/_buttons.scss */
    .button-dropdown ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 12px;
      color: #333333;
      line-height: 30px;
      white-space: nowrap; }
      /* line 488, ../scss/partials/_buttons.scss */
      .button-dropdown ul a:hover {
        background-color: #3c6ab9;
        color: white; }

        .button-big {
            height: 42px;
        }

        .button-rounded {
              -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                  -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                      border-radius: 3px; }
