* {
    font-family: 'Source Sans Pro', sans-serif;
}

.sig-div {
    margin: 0 auto;
}

.banner {
    margin-top: 0;
    text-align: center;
    background-size: cover;
    width: 100%;
    display: table;
}

.banner-head {
    margin-top: 1em;
    font-size: 3em;
    color: white;
    text-shadow: 0 1px 1px black;
}

.wrapper {
    /*background: transparent url('http://54.193.21.224/four.jpg') no-repeat center center fixed;*/
    background: transparent url('../four.jpg') no-repeat center center fixed;
    overflow: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    height: auto;
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
}
